<ion-header>
  <ion-toolbar color="transparent">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <img src="assets/logo.png" alt="Padaria Fênix" class="logo">
    <h2>Cadastro</h2>

    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Digite seu apelido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input placeholder="Digite seu email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-input placeholder="Digite seu CEP"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-input placeholder="Digite seu bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-input placeholder="Digite sua rua"></ion-input>
    </ion-item>

    <ion-button expand="block" color="warning">Cadastrar</ion-button>

    <p>Já possui um login? <a href="/login">Entre agora</a></p>
  </div>
</ion-content>
