.logo {
    width: 40px; /* Ajuste o tamanho da logo conforme necessário */
    height: 40px; /* Para garantir que a logo seja redonda */
    border-radius: 50%; /* Faz a logo ficar redonda */
    object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente */
}

.alterar-senha-background {
    background-image: url('/assets/icon/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  