<ion-header>
  <ion-toolbar color="transparent">
    <ion-title>Alterar a senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <img src="assets/logo.png" alt="Padaria Fênix" class="logo">
    <h2>Alterar a senha</h2>

    <ion-item>
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Digite a nova senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Confirme sua nova senha"></ion-input>
    </ion-item>

    <ion-button expand="block" color="warning">Alterar</ion-button>
  </div>
</ion-content>
